# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\streaming_projects\core_lib\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
